.rolling_wrap {
	position: relative;
	width: 1000px;
	min-height: 200px;
	height: 200px;
	margin: auto;
	overflow: hidden;
}

.rolling_wrap a {
	position: absolute;
	
	width: 200px;
	height: 200px;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 100%;
	overflow: hidden;
}

.rolling_wrap a img {
	width: 100%;
	height: 100%;
	border-radius: 70%;
}

.rolling_bigwrap{
	width: 100%;
	margin-top: 150px;
	height: 200px;
}